    <footer class="l-footer" id="footer" role="contentinfo">
        <div class="l-wrapper l-wrapper--large">
            <div class="legal">
                <a class="legal__link" href="/">
                    <img class="legal__logo" src="/images/logos/logo-next-21x27.png" srcset="/images/logos/logo-next-21x27@2x.png 2x" width="21" height="27" alt="DUSK logo">
                </a>

                <p class="legal__synopsis">© 2016 DUSK</p>
            </div>

            <div class="motto">
                <a class="motto__link" href="/">
                    <img class="motto__logo" src="/images/logos/logo-motto-34x44.png" srcset="/images/logos/logo-motto-34x44@2x.png 2x" width="34" height="44" alt="">

                    <p class="motto__synopsis">Making things that matter</p>
                </a>
            </div>

            <div class="social">
                <ol class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="https://dribbble.com/wearenext" target="_blank">
                            <span class="icon icon-dribbble" aria-hidden="true"></span>
                            <span class="u-visuallyhidden">Follow us on Dribbble</span>
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="https://github.com/we-are-next" target="_blank">
                            <span class="icon icon-github" aria-hidden="true"></span>
                            <span class="u-visuallyhidden">Follow us on GitHub</span>
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="https://medium.com/next-blog" target="_blank">
                            <span class="icon icon-medium" aria-hidden="true"></span>
                            <span class="u-visuallyhidden">Follow us on Medium</span>
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="https://twitter.com/nextct" target="_blank">
                            <span class="icon icon-twitter" aria-hidden="true"></span>
                            <span class="u-visuallyhidden">Follow us on Twitter</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </footer>

    <!-- Google Analytics -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','<%= tracking_id %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!-- JavaScript -->
    {{ if or (eq .URL "/contact/") (eq .URL "/contact/thank-you/") }}
        <!-- Google Maps -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBvSXYqIJnDaoZAFu0OCAZj72koWpr_B4"></script>
    {{ end }}
    <script defer src="/js/vendor/jquery.js"></script>
    <script defer src="/js/plugins.js"></script>
    <script defer src="/js/main.js"></script>
</body>
</html>