{{ partial "header" . }}
<main class="l-main" role="main">
    <section class="l-section">
        <div class="hero">
            <div class="l-wrapper">
                <h1 class="hero__title hero__title--large">We build digital solutions for your <strong class="hero__highlight">big ideas.</strong></h1>

                <div class="hero__synopsis">
                    <p>We work with clients across industries to create digital products and services that delight users
                        and impact the bottom line.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="l-section is-overlap">
        <div class="l-wrapper l-wrapper--large">
            <header class="header">
                <h2 class="header__title header__title--wrap">Featured work</h2>
            </header>

            <div class="projects projects--split">
                <div class="project">
                    <div class="project__body">
                        <h3 class="project__title">Fido</h3>

                        <p class="project__synopsis">
                            <a href="work/fido">Online credit reports that are quick, easy and free.</a>
                        </p>
                    </div>

                    <div class="collage">
                        <a href="work/fido">
                            <img class="collage__img" src="/images/work/fido/hero/fido-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-1 is-flat" src="/images/work/fido/hero/fido-180x180.png" width="180" height="180" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h3 class="project__title">Qwezi</h3>

                        <p class="project__synopsis">
                            <a href="work/qwezi">A custom content platform for Africa.</a>
                        </p>
                    </div>

                    <div class="collage">
                        <a href="work/qwezi">
                            <img class="collage__img" src="/images/work/qwezi/hero/qwezi-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-3" src="/images/work/qwezi/hero/qwezi-138x130.png" width="138" height="130" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-group btn-group--right">
                <a class="btn btn--tertiary" href="work">View all our work</a>
            </div>
        </div>
    </section>

    <section class="l-section" style="background-image: url('/images/backgrounds/background-X-1035x1331.png')">
        <div class="l-wrapper l-wrapper--large">
            <header class="header header--center">
                <h2 class="header__title">What we do</h2>
            </header>

            <div class="highlights">
                <div class="highlight">
                    <img class="highlight__img" src="/images/highlights/highlight-01-544x685.jpg" width="544" height="685" alt="">

                    <div class="highlight__body">
                        <h3 class="highlight__title">Digital Product Strategy</h3>

                        <p class="highlight__synopsis">Whether you need us to build a complete solution from scratch or
                            fix a tired and broken product, our team will help you reach your goal.</p>
                    </div>
                </div>

                <div class="highlight">
                    <img class="highlight__img highlight__img--pull-up" src="/images/highlights/highlight-02-521x444.jpg" width="521" height="444" alt="">

                    <div class="highlight__body">
                        <h3 class="highlight__title">Interface Design</h3>

                        <p class="highlight__synopsis">We create interfaces that are delightful and intuitive, helping you
                            tell stories and solve problems with design.</p>
                    </div>
                </div>

                <div class="highlight">
                    <img class="highlight__img" src="/images/highlights/highlight-03-609x453.jpg" width="609" height="453" alt="">

                    <div class="highlight__body">
                        <h3 class="highlight__title">Development</h3>

                        <p class="highlight__synopsis">We keep things simple and scalable working with our clients to make
                            ideas come to life on desktop or mobile.</p>
                    </div>
                </div>

                <div class="highlight">
                    <img class="highlight__img" src="/images/highlights/highlight-04-521x444.jpg" width="521" height="444" alt="">

                    <div class="highlight__body">
                        <h3 class="highlight__title">New Ventures</h3>

                        <p class="highlight__synopsis">Good ideas are worth investing in and with our collective knowledge of
                            tech and design we can bring your ideas to life. <a href="contact">Get in touch</a> if you have an
                            idea worth sharing.</p>
                    </div>
                </div>
            </div>

            <div class="btn-group btn-group--center">
                <a class="btn" href="about">More about what we do</a>
            </div>
        </div>
    </section>

    <section class="l-section">
        <div class="l-wrapper l-wrapper--large">
            <header class="header header--split">
                <h2 class="header__title header__title--wrap">Our own products</h2>

                <div class="header__synopsis">
                    <p>We believe that nurturing curiosity in our work environment leads to great ideas and potentially
                        great products. See what we’ve released and get involved in some beta releases.</p>
                </div>
            </header>

            <div class="projects projects--split">
                <div class="project">
                    <div class="project__body">
                        <h3 class="project__title">Done</h3>

                        <p class="project__synopsis">
                            <a href="work/done">Kill the timesheet.</a>
                        </p>
                    </div>

                    <div class="collage">
                        <a href="work/done">
                            <img class="collage__img" src="/images/work/done/hero/done-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-2 is-flat" src="/images/work/done/hero/done-180x180.png" width="180" height="180" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h3 class="project__title">CSSCO</h3>

                        <p class="project__synopsis">
                            <a href="work/cssco">Photographic filters made with CSS.</a>
                        </p>
                    </div>

                    <div class="collage">
                        <a href="work/cssco">
                            <img class="collage__img" src="/images/work/cssco/hero/cssco-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-1" src="/images/work/cssco/hero/cssco-140x140.png" width="140" height="140" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-4" src="/images/work/cssco/hero/cssco-180x180.png" width="180" height="180" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-group btn-group--right">
                <a class="btn btn--tertiary" href="work#products">View all our products</a>
            </div>
        </div>
    </section>

    <section class="l-section bg-primary">
        <div class="l-wrapper l-wrapper--large">
            <div class="cta">
                <h2 class="cta__title">Let’s work together</h2>

                <p class="cta__synopsis">If you’re ready to kick off a project or would like to talk to us about an
                    idea, <a href="/contact/">contact us</a>.</p>

                <div class="cta__contact">+27 (0)21 447 0058</div>

                <div class="cta__contact">
                    <a href="mailto:hello@justdusk.com">hello@justdusk.com</a>
                </div>
            </div>
        </div>
    </section>
</main>
{{ partial "footer" . }}
