---
title: "Our work – DUSK"
---
<main class="l-main" role="main">
    <section class="l-section">
        <div class="hero">
            <div class="l-wrapper">
                <h1 class="hero__title hero__title--large">Our work</h1>
            </div>
        </div>
    </section>

    <section class="l-section">
        <div class="l-wrapper l-wrapper--large">
            <div class="projects projects--alternate">
                <div class="project">
                    <div class="project__body">
                        <h2 class="project__title">Fido</h2>

                        <p class="project__synopsis">
                            <a href="fido">Online credit reports that are quick, easy and free.</a>
                        </p>

                        <a class="btn btn--tertiary" href="fido">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="fido">
                            <img class="collage__img" src="/images/work/fido/hero/fido-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-1 is-flat" src="/images/work/fido/hero/fido-180x180.png" width="180" height="180" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h2 class="project__title">Qwezi</h2>

                        <p class="project__synopsis">
                            <a href="qwezi">A custom content platform for Africa.</a>
                        </p>

                        <a class="btn btn--tertiary" href="qwezi">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="qwezi">
                            <img class="collage__img" src="/images/work/qwezi/hero/qwezi-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-3" src="/images/work/qwezi/hero/qwezi-138x130.png" width="138" height="130" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h2 class="project__title">The Mandate Tool</h2>

                        <p class="project__synopsis">
                            <a href="the-mandate-tool">Helping Rawson agents create beautiful mandate proposals for clients.</a>
                        </p>

                        <a class="btn btn--tertiary" href="the-mandate-tool">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="the-mandate-tool">
                            <img class="collage__img" src="/images/work/the-mandate-tool/hero/the-mandate-tool-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-5 is-flat" src="/images/work/the-mandate-tool/hero/the-mandate-tool-180x180.png" width="180" height="180" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-6 is-flat" src="/images/work/the-mandate-tool/hero/the-mandate-tool-140x140.png" width="140" height="140" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h2 class="project__title">Primedia Broadcasting</h2>

                        <p class="project__synopsis">
                            <a href="primedia-broadcasting">Our “create once, publish everywhere” solution to Primedia’s content problem.</a>
                        </p>

                        <a class="btn btn--tertiary" href="primedia-broadcasting">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="primedia-broadcasting">
                            <img class="collage__img" src="/images/work/primedia-broadcasting/hero/primedia-cms-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-4" src="/images/work/primedia-broadcasting/hero/primedia-cms-180x200.png" width="180" height="200" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h2 class="project__title">Rawson Properties</h2>

                        <p class="project__synopsis">
                            <a href="rawson-properties">Designing a better way to find and buy your dream home.</a>
                        </p>

                        <a class="btn btn--tertiary" href="rawson-properties">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="rawson-properties">
                            <img class="collage__img" src="/images/work/rawson-properties/hero/rawson-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-1" src="/images/work/rawson-properties/hero/rawson-163x167.png" width="163" height="167" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-6" src="/images/work/rawson-properties/hero/rawson-133x137.png" width="133" height="137" alt="">
                        </a>
                    </div>
                </div>

                <div class="project" id="products">
                    <div class="project__body">
                        <h2 class="project__title">Done</h2>

                        <p class="project__synopsis">
                            <a href="done">Kill the timesheet.</a>
                        </p>

                        <a class="btn btn--tertiary" href="done">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="done">
                            <img class="collage__img" src="/images/work/done/hero/done-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-2 is-flat" src="/images/work/done/hero/done-180x180.png" width="180" height="180" alt="">
                        </a>
                    </div>
                </div>

                <div class="project">
                    <div class="project__body">
                        <h2 class="project__title">CSSCO</h2>

                        <p class="project__synopsis">
                            <a href="cssco">Photographic filters made with CSS.</a>
                        </p>

                        <a class="btn btn--tertiary" href="cssco">View case study</a>
                    </div>

                    <div class="collage">
                        <a href="cssco">
                            <img class="collage__img" src="/images/work/cssco/hero/cssco-568x436.png" width="568" height="436" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-1" src="/images/work/cssco/hero/cssco-140x140.png" width="140" height="140" alt="">

                            <img class="collage__img collage__img--overlay collage__img--overlay-4" src="/images/work/cssco/hero/cssco-180x180.png" width="180" height="180" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="l-section bg-primary">
        <div class="l-wrapper l-wrapper--large">
            <div class="cta">
                <h2 class="cta__title">Let’s work together</h2>

                <p class="cta__synopsis">If you’re ready to kick off a project or would like to talk to us about an
                    idea, contact us.</p>

                <div class="cta__contact">+27 (0)21 447 0058</div>

                <div class="cta__contact">
                    <a href="mailto:hello@justdusk.com">hello@justdusk.com</a>
                </div>
            </div>
        </div>
    </section>
</main>